body{
    margin:0px;
    padding:0px;
    font-family: 'Roboto', sans-serif;
    position: relative;
	text-align: center;
}


/* .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
    padding: 0px 40px;
} */

.sudoku{
    border-spacing:0px;
    margin: 4rem auto;
    /* margin-right: 0px; */
    border: rgb(70, 70, 70) 6px solid;
    border-radius: 8px;
}

.row{
    display: block;
}
.row-divider{
    border-bottom: rgb(70, 70, 70) 4px solid;
}
.cell{
    padding: 0px;
    margin: 0px;
    border: rgb(70, 70, 70) 1px solid;
    background: rgb(255, 255, 255);
}
.cell-divider{
    border-right: rgb(70, 70, 70) 4px solid;
}

.cell-input{
    font-size: 40px;
    font-weight: bolder;
    outline: none;
    border: none;
    color: blue;
    text-align: center;
    width: 60px;
    height: 60px;
}
.cell-input:hover{
    cursor: pointer;
    background:#2643641c;
}
.cell-input:focus{
    cursor: pointer;
    background:#2643641c;
}

.cell-generated{
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 30px;
    color: rgb(95, 95, 95);
    text-align: center;
    width: 60px;
    height: 60px;
    background-color: #84b8f0;
}




.mistakeScreen {
	position: absolute;
	width: 300px;
	height: 300px;
	top:120%;
    left:50%;
    margin:-20px 0 0 -150px;
	display: none;
	background-color: #eb0909;
	border-radius: 20px;
	cursor: context-menu;
	z-index: 1000;
}

.mistakeText {
	text-align: center;
	padding: 65px;
	line-height: 40px;
	font-size: 25px;
	color: #ffffff;
    font-family: Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.winScreen {
	position: absolute;
	width: 300px;
	height: 300px;
	top:120%;
    left:50%;
    margin:-20px 0 0 -150px;
	display: none;
	background-color: #52e252;
	border-radius: 20px;
	cursor: context-menu;
	z-index: 1000;
}

.winText {
	text-align: center;
	padding: 65px;
	line-height: 40px;
	font-size: 25px;
	color: #ffffff;
    font-family: Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
}


@media only screen and (max-width: 1040px){
    

    
    .cell-input{
        width: 50px;
        height: 50px;
    }
    .cell-generated{
        width: 50px;
        height: 50px;
    }
    

}

@media only screen and (max-width: 720px){
    .cell-input{
        width: 34px;
        height: 34px;
        font-size: 30px;
    }
    .cell-generated{
        width: 34px;
        height: 34px;
        font-size: 30px;
    }
}


/* ---------Timer----------- */

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container{
    width: 100%;
    height: 12rem;
    display: none;
    background-color: white;
}


.circle-container{
    width: 100px;
    height: 100px;
    background-color: #ddd;
    /* background-color: black; */
    border-radius: 50%;
    position: absolute;
    /* z-index: 1000; */
    overflow: hidden;
    /* border:1px solid black */
}

.semicircle{
    width: 50%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    transform-origin: right center;
}


.semicircle:nth-child(1){
    background-color: blue;
    z-index:2;
}
.semicircle:nth-child(2){
    background-color: blue;
    z-index:3;
}
.semicircle:nth-child(3){
    background-color: #ddd;
    z-index: 4;
    /* display:none;     */
}

.outermost-circle{
    width: 90px;
    height: 90px;
    background-color: white;
    border-radius:50%;
    z-index:10;
    color: black;
    /* display: none; */
}


#timer{
    z-index: 1000;
}
